html {
  font-size: 100%;
  box-sizing: border-box;
  background: #0C4671;
  font-family: Lato;
}

img {
  display: block;
}

h1 {
  background: blue;
  font-size: 3rem;
  margin-top: 0;
  /* font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 86px;
  margin-bottom: 10px; */
}

h2 {
  font-size: 2rem;
  margin-top: 0;
  /* font-style: normal;
  font-weight: bold;
  font-size: 48px;
  margin-top: 20px;
  margin-bottom: 10px; */
}

h3 { font-size: 1.17rem; }
h5 { font-size: .83rem; }
h6 { font-size: .75rem; }

.white-text {
  color: #FFFFFF;


.project {
  min-width: 10em;
  max-width: 20em;
  min-height: 10em;
  max-height: 20em;
}

#home-main {
  background: yellow;
  /* max-width: 1400px; */
  margin: 2em;
}

#home-left-column {
  padding: 0 2em 0 2em;
  background: gray;
}

#home-right-column {
  background: green;
  padding: 0 2em 0 2em;
}

#projects-list {
  background: #FFFFFF;
  color: #000000;
  display: flex;
  flex-wrap: wrap;
}


@media only screen and (min-width: 65rem) {
  #home-main {
    display: flex;
    flex-wrap: wrap;
    background: yellow;
  }

  #home-left-column {
    max-width: 400px;
    /* background: gray; */
  }
}


  /* width: 300px; */
/* .row:after {
  content: "";
  display: table;
  clear: both;
} */

/* media
#home-left-column {
  float: left;
  width: 300px;
  margin: 40px;
}

#home-right-column {
  float: left;
  min-width: 300px;
  /* width: 300px; */


#content {
  margin: auto;
  max-width: 1200px;
}

#projects-list {
  /* min-width: 600px; */
  padding: 10px;
  background: darkgoldenrod;
}

#project-card {
  min-width: 300px;
}
