html {
  font-size: 100%;
  box-sizing: border-box;
  background: #0C4671;
  font-family: Lato;
}

img {
  display: block;
}

h1 {
  background: blue;
  font-size: 3rem;
  margin-top: 0;
  /* font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 86px;
  margin-bottom: 10px; */
}

h2 {
  font-size: 2rem;
  margin-top: 0;
  /* font-style: normal;
  font-weight: bold;
  font-size: 48px;
  margin-top: 20px;
  margin-bottom: 10px; */
}

h3 { font-size: 1.17rem; }
h5 { font-size: .83rem; }
h6 { font-size: .75rem; }

.white-text {
  color: #FFFFFF;
}


#home-main {
  background: yellow;
  /* max-width: 1400px; */
  margin: 2em;
}

#home-left-column {
  padding: 0 2em 0 2em;
  background: gray;
}

#home-right-column {
  background: green;
  padding: 0 2em 0 2em;
}

#projects-list {
  background: #FFFFFF;
  color: #000000;
  display: flex;
  flex-wrap: wrap;
}

.project-card {
  width: 100%;
  /* flex: 1 0 auto; */
  background: purple;
  padding: 1em;
}

@media only screen and (min-width: 65rem) {
  html {
    background: dodgerblue;
  }
  #home-main {
    display: flex;
    flex-wrap: nowrap;
    background: yellow;
    max-width: 80rem;
    margin: auto;
  }

  #home-left-column {
    flex: 1 0 0;
  }
  #home-right-column {
    flex: 3 0px;
  }

  .project-card {
    box-sizing: border-box;
    width: auto;
    max-width: 100%;
    flex: 1 0 auto;
    border-style: solid;
    /* max-width: 20em; */
    /* min-height: 10em; */
    /* max-height: 20em; */
  }
}
